// font-awesome
@mixin fa() {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Alert mixin
// -----------------------------------------------------------------------------

// alert控件替换主题
@mixin alert-variant($background, $border, $text-color) {
    background-color: $background;
    border-color: $border;
    color: $text-color;

    hr {
        border-top-color: darken($border, 5%);
    }

    .alert-link {
        color: darken($text-color, 10%);
    }
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
// Opacity

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}

// =============================================================================
// Typographic
// =============================================================================

// Text overflow
// Requires inline-block or block for proper styling
// -----------------------------------------------------------------------------

@mixin text-overflow($display: block) {
    display: $display;
    word-wrap: normal; // for IE
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}