
// common
// -----------------------------------------------------------------------------

$pink-mid: #2c3e50;
$blue-dark: #395692;
$blue-light: #0e90d2;// #69D2E7
$green-dark: #13747D;
$green-light: #A7DBD8;
$purple-mid: #480048;
$gray-light: #999;
$global-border: #ddd;

// base
// -----------------------------------------------------------------------------

// external-link 外部链接
// $external-link-color: #0e90d2;
$external-link-color: $blue-light;


// typography
// -----------------------------------------------------------------------------

// Font family
// -----------------------------------------------------------------------------

// FreeSans: Ships with many Linux distros, including Ubuntu
// Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
//        Arial to get picked up by the browser, even though neither is available
//        in Chrome OS.
// Droid Sans: Ships with all versions of Android.
// Roboto: Android new font-family from Android ISC
// Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
// Helvetica Neue: iOS & OS X 10.10 UI font (not Lucida Grande any more)
//                 http://morrick.me/archives/6873
// http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/

// Helvetica

// apple.com: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,

$font-family-sans-serif: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;

$font-family-serif: Georgia, "Times New Roman", Times, SimSun, "FontAwesome", serif; //FangSong, STFangSong

$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;

$font-family-kai: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;

$font-size-base:          14px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// blockquote
$base-blockquote-border: $global-border;
$base-blockquote-small-color: $gray-light;
$base-blockquote-font-size: 1.6rem; // 16px
$base-blockquote-line-height: 1.5; // 22px


// components
// -----------------------------------------------------------------------------

$border-radius-base:        4px !default;
$border-radius-large:       0px !default;

$state-default-text:             #282828 !default;
$state-default-bg:               #f1f1f1 !default;
$state-default-border:           darken(adjust-hue($state-default-bg, -10), 5%) !default;

$state-primary-text:             #fff !default;
$state-primary-bg:               #0e90d2 !default;
$state-primary-border:           darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:             #329d38 !default;
$state-success-bg:               #ddf4df !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #ed980f !default;
$state-warning-bg:               #fff0d5 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #e75033 !default;
$state-danger-bg:                #ffe5e0 !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//-- Z-index master list
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

//== Media queries breakpoints
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// layout:header
// -----------------------------------------------------------------------------

// $header-bg: $purple-mid;
$header-bg: $green-dark;

// components:backtop
// -----------------------------------------------------------------------------

$backtop-bg: $pink-mid;
$backtop-bg--hover: #b37399;

// components:alert
// -----------------------------------------------------------------------------

$alert-margin-vertical: 1em;

$alert-bg:                    $state-default-bg !default;
$alert-color:                 $state-default-text !default;
$alert-border-color:          $state-default-border !default;
$alert-link-color:            darken($state-default-text, 10%) !default;

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-primary-bg:            $state-primary-bg !default;
$alert-primary-text:          $state-primary-text !default;
$alert-primary-border:        $state-primary-border !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;

// components:close
// -----------------------------------------------------------------------------
//== Close
//
//##

$close-font-weight:           bold;
$close-color:                 #000;
$close-text-shadow:           0 1px 0 #fff;

// components:modal
// -----------------------------------------------------------------------------

//** Padding applied to the modal body
$modal-inner-padding:         15px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** 遮罩
//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;

//** Modal header border color
$modal-header-border-color:   #dedede !default; // #e5e5e5
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-footer-border-radius: 0 !default;

$modal-lg:                    810px !default;
$modal-md:                    540px !default;
$modal-sm:                    270px !default;


// themes:book
// -----------------------------------------------------------------------------

$bg__header--book: $purple-mid;

