
/*------------------------------------*\
    #common
\*------------------------------------*/
$pink-mid: #2c3e50;
$blue-dark: #395692;
$blue-light: #69D2E7;
$green-dark: #13747D;
$green-light: #A7DBD8;
$purple-mid: #480048;

/*------------------------------------*\
    #layout:header
\*------------------------------------*/
// $header-bg: $purple-mid;
$header-bg: $green-dark;

/*------------------------------------*\
    #components:backtop
\*------------------------------------*/
$backtop-bg: $pink-mid;
$backtop-bg--hover: #b37399;

/*------------------------------------*\
    #themes:book
\*------------------------------------*/
$bg__header--book: $purple-mid;

