blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-left: 4px solid $base-blockquote-border;
    font-family: $font-family-kai;
    //font-size: @base-blockquote-font-size;
    //line-height: @base-blockquote-line-height;
    /* Small print for identifying the source */
    small {
        display: block;
        color: $base-blockquote-small-color;
        font-family: $font-family-sans-serif;
        text-align: right;
    }
    /* Smaller margin if `small` follows */
    p:last-of-type {
        margin-bottom: 0;
    }
}

// 列表下p元素的margin
li p {
    margin: 0 0 .75em;
}

// === 内容选中 ===
::selection {
  color: white;
  text-shadow: none;
  background: #00c9d7;
}

// === 标签 ===
.Tags .tag {
    color: #fff;
}

// === 图片含文字内容 ===
.thumbnail .content {
    padding: 9px;
    color: #333;

    p {
        margin: 0 0 10px;
    }
}

// === 图片铺满整个页面 ===
.fullbg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
}
